<div class="bg-dark">
<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 style= "text-align: center;" class="mt-5 mb-5">HAKKIMIZDA</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p> Şirketimiz antalyada 2020 yıldını kuruldu . Dünya markalarını uygun fiyata getiriyoruz.
        300’ün üzerindeki şirketi ve 18 bini aşkın çalışanıyla müşterilerine üstün teknoloji, yüksek marka kalitesi ve dinamik bir insan kaynağı ile hizmet vermektedir.
Modern hayatı şekillendiren yeni keşiflerin öncülüğünü üstlenerek daha iyi bir yaşamın standartlarını oluşturmak için çalışan Doğuş Grubu, 1951 yılında kurulmuştur. Müşterilerinin yanı sıra çalışanları, iş ortakları ve hatta rakipleri için bir tutkuya dönüşecek, sınıfının en iyisi yaşam tarzı markalarını bünyesinde barındıran Doğuş, çalıştığı alanlarda küresel bir oyuncu olma hedefiyle çalışmalarına devam etmektedir. Otomotiv; inşaat; medya; yeme-içme, turizm & perakende; gayrimenkul ve enerji olmak üzere altı ana sektörde faaliyet gösteren Doğuş Grubu ayrıca, mevcut hizmet verdiği sektörlerin yanı sıra teknoloji, spor ve eğlence alanındaki yeni yatırımlarıyla da büyümesini sürdürmektedir. Grup 300’ün üzerindeki şirketi ve 18 bini aşkın çalışanıyla müşterilerine üstün teknoloji, yüksek marka kalitesi ve dinamik bir insan kaynağı ile hizmet vermektedir.
      </p>
    </div>

  </div>
</div>


</div>

<app-footer></app-footer>
