<section class="mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12" style="background-color: #363636; height: auto">
        <div class="container">
          <div class="row">
      
            <div class="col-lg-6 d-flex justify-content-center">
              <ul style="list-style-type:none; color:white" class="mt-5">
                <li><b><h3>İletişim bilgileri</h3></b></li>
                <hr>
                <li>Adres: Pınarbaşı Mahallesi Hürriyet Caddesi Akdeniz Üniversitesi Ar-Ge 2 Uluğbey Binası No:3A/31 Konyaaltı/Antalya</li>
                <li>Telefon : 05533635235</li>
              
                <li>Eposta:ibrahim199906@outlok.com</li>

              </ul>
            </div>

            <div class="col-lg-6 d-flex justify-content-center mt-5 mb-5">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3189.700103003233!2d30.639895015293394!3d36.92143417992379!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c38e16180b3679%3A0xc54a2c8ae18e0b6b!2s%C5%9Eafak%2C%20Akdeniz%20Sanayi%20Sitesi%2C%2007220%20Kepez%2FAntalya!5e0!3m2!1str!2str!4v1610905262335!5m2!1str!2str" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
