<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1 style= "text-align: center;" class="mt-5 mb-5">Ekipmanlarımız</h1>
    </div>
  </div>
</div>
<div class="container">

<div class="row">

  <div class="col-lg-6 mt-5"  *ngFor="let kayit of kayitlar">
<div class="urun-main" style="width: 100%; height: 200px;">
  <div class="row">
   
    <div class="col-lg-6">
      <div class="urun-baslik">
        <h3><b>Ekipman : {{kayit.ekipman}}</b></h3>
        <p>Ürün Bilgisi : {{kayit.Bilgi}}</p>
        
      </div>
    </div>
  </div>
</div>
  </div>

  </div>
</div>




<app-footer></app-footer>